<header>
  <h1><%= tag %></h1>
  <% if taginfo %><p><%= taginfo %></p><% end %>
</header>

<% require 'time'; posts.reverse.each do |post|
  if post.data <= DateTime.now %>
  <%= yield_post(post, template: :_post_excerpt) %>
<% end
end%>
